<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="{{ PROJECT_DESCRIPTION }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="http://media.northbynorthwestern.com/media/img/favicon-hi.ico" />

    <!-- FONTS -->
    <script type="text/javascript" src="//use.typekit.net/rwj4edd.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}
    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}

    <!-- JS -->
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.render('js/app-header.min.js') }}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
    {% block outer_content %}
    {% block content %}
    {% endblock content %}

    {% endblock outer_content %}

    {% block extra_foot %}
    {% endblock extra_foot %}

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/lib/html5.js') }}
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/moment.js') }}
    {{ JS.push('js/lib/bootstrap.js') }}
    {{ JS.push('js/lib/jquery.unveil.js') }}
    {{ JS.push('js/lib/jquery.smooth-scroll.min.js') }}
    {{ JS.push('js/lib/jquery.waypoints.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/console.js') }}
    {{ JS.push('js/templates.js') }}
    {{ JS.push('js/app.js') }}
    {% block extra_foot_js %}
    {% endblock extra_foot_js %}
    {{ JS.render('js/app-footer.min.js') }}

    <!-- GOOGLE ANALYTICS -->

</body>
</html>
