<div class="hierarchy">
    <h2 class="chart-title">Maslow's Hierarchy of Needs</h2>
    <div class="row">
        <div class="col-md-4 col-md-offset-4" id="physiology">
            <h2>Self Actualization</h2>
            <ul class="needs">
                <li>Morality</li>
                <li>Creativity</li>
                <li>Spontaneity</li>
                <li>Problem Solving</li>
                <li>Lack of Prejudice</li>
                <li>Acceptance of Facts</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-md-offset-3" id="safety">
            <h2>Esteem</h2>
            <ul class="needs">
                <li>Confidence</li>
                <li>Achievement</li>
                <li>Respect of Others</li>
                <li>Respect from Others</li>
            </ul>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2" id="love">
            <h2>Love & Belongings</h2>
            <ul class="needs">
                <li>Friendship</li>
                <li>Family</li>
                <li>Sexual Intimacy</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10 col-md-offset-1" id="esteem">
            <h2>Safety</h2>
            <ul class="needs">
                <li>Security</li>
                <li>Employment</li>
                <li>Resources</li>
                <li>Morality</li>
                <li>Health</li>
                <li>Property</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="self-actualization">
            <h2>Physiology</h2>
            <ul class="needs">
                <li>Food</li>
                <li>Water</li>
                <li>Sex</li>
                <li>Sleep</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="caption-text">
                <h6>Maslow's hierarchy of needs is a psychological theory set forth by American psychologist Abraham Maslow. The theory suggests that a person must secure the basic needs of food, water, sex and sleep in order to secure more complex needs like safety, sexual intimacy and creativity. Graphic by Tyler Fisher.</h6>
            </div>
        </div>
    </div>
</div>