{% extends '_base.html' %}

{% block extra_css %}
{% endblock extra_css %}

{% block extra_head_js %}
{% endblock extra_head_js %}

{% block extra_head %}

{% endblock extra_head %}
{% block content %}

    {% for row in story %}

        {% if row.template == 'chapter' %}
            {% if row.first_chapter != 'yes' %}
                </section>
            {% endif %}
        {% endif %}
        {% include "%s.html"|format(row.template) ignore missing %}

    {% endfor %}
</section>
<!-- content -->

<div class="nav-bar">
    <div class="container">
        <ul class="nav-items">
            <li class="logo"><a href="http://www.northbynorthwestern.com/library"><img src="http://nbn-housing.s3.amazonaws.com/static/img/nbn-logo.png"></a></li>
            <li class="title"><a href="http://www.northbynorthwestern.com/library">NBN Spring Magazine 2014</a></li>
        </ul>
    </div>
</div>

{% endblock %}
{% block extra_foot_js %}
{% endblock %}
